# Entorno virtual
venv/

# Base de datos local
data/*.db

# Música (archivos pesados, no van en un repo)
music/

# Python cache
__pycache__/
*.pyc
*.pyo

# Variables de entorno
.env

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store